/fs2.0/about.html
/fs2.0/blog.html
/fs2.0/contact.html
/fs2.0/destination.html
/fs2.0/guide.html
/fs2.0/package.html
/fs2.0/service.html
/fs2.0/single.html
/fs2.0/testimonial.html

/fs3.0/about.html
/fs3.0/blog-single.html
/fs3.0/blog.html
/fs3.0/contact.html
/fs3.0/destination.html
/fs3.0/hotel.html
/fs3.0/main.html