@media screen and (min-width:1024px){
  .navbar .menu_div {
    display: flex;
  }

  .navbar .menu_btn{
    display:none;
  }

  .home_slider {
    width:auto;
    height: 700px;
  }

  

  
  
  
  .places_to_visit_slider {
    width:auto;
    height:auto;
    margin-top: 20px;
    padding:20px 15px;
  }

  
  
  
  .popular_cities_slider {
    width:auto;
    height:auto;
    margin-top: 20px;
    padding:20px 15px;
  }


  


  .itineraries_cards {
    padding: 0;
  }
  .itineraries_cards .card {
    width:48%;
    height: auto;
    margin:15px 8px;
  }

  .itinerary_categories_cards {
    padding: 0;
  }
  .itinerary_categories_cards .card {
    width:48%;
    height: auto;
    margin:15px 8px;
  }
  
  .query_form {
    margin: -50px 50px 0 50px;
    padding: 20px 0;    
  }

  .query_form form div input[type=date]{
    padding:10px 5px;
    font-size: 16px;
    width:180px;
    border: none;
  }

  .query_form form div select,
  .query_form form div input[type=number]{
    padding:10px 5px;
    font-size: 16px;
    width:200px;
    border: none;
  }


  .blog .card-container .card {
    width:48%;
    margin: 15px auto;
  }


  .footer .under-footer {
    height:150px;
  }






  .reviews .slider .swiper-slide {
    font-size:1.5em;
    font-weight: bold;
    height:400px;
    overflow-y:hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    text-align: center;
  }


  .modal .modal-container {
    padding:0 40%;
  }


























  
/* city page design */

.tabs_container{
  border: 1px solid transparent;
  margin:10px;
  width:50%;
}

.map_container{
  margin:10px;
  width:40%;
  height:300px;
}
/* city page design end */




  
}