@media screen and (min-width:1024px){
  .navbar .menu_div {
    display: flex;
  }

  .navbar .menu_btn{
    display:none;
  }

  .home_slider {
    width:auto;
    height: 600px;
  }

  .places_to_visit {
    margin:100px 35px;
  }

  .places_to_visit .title {
    font-size:2em;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
  }
  
  
  
  .places_to_visit_slider {
    width:auto;
    height:auto;
    margin-top: 20px;
    padding:20px 50px;
  }

  
  .popular_cities {
    margin:100px 0;
    padding: 25px 50px;
  }

  .popular_cities .title {
    font-size:2em;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
  }
  
  
  
  .popular_cities_slider {
    width:auto;
    height:auto;
    margin-top: 20px;
    padding:20px 50px;
  }

  .cards-title {
    font-size:2em;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
  }

  .itineraries_cards {
    padding: 0 50px;
  }
  .itineraries_cards .card {
    width:48%;
    height: auto;
    margin:15px 5px;
  }
  
  .query_form {
    margin: -50px 50px 0 50px;
  }

  .query_form form div input[type=date]{
    padding:10px 5px;
    font-size: 16px;
    width:180px;
    border: none;
  }

  .query_form form div select,
  .query_form form div input[type=number]{
    padding:10px 5px;
    font-size: 16px;
    width:200px;
    border: none;
  }
}