@media screen and (min-width:360px){
  .modal .modal-container {
    padding:0 15%;
  }
}












@media screen and (min-width:640px){
  .topbar {
    justify-content: space-between;
    padding:5px 30px;
  }
  .navbar {
    padding:5px 30px;
  }

  .navbar .logo_div img{
    width: 200px;
    display: inline-block;
  }
  .home_slider {
    width:auto;
    height: 400px;
  }

  .home_slider .swiper-slide {
    font-size:2em;
    font-weight: bold;
  }
  
  .home_slider .swiper-slide span {
    font-size:1.2em;
    font-weight: bold;
    color: white;
    text-align: center;
    width:auto;
    margin: 0 65px;
  }
  .places_to_visit .title {
    font-size:2em;
    font-weight: bold;
  }
  .places_to_visit_slider .swiper-slide {
    height:400px;
  }
  

  
  .blog_cards .title {
    display: block;
    font-size:2em;
    font-weight: bold;
  }
  
  .popular_cities .title {
    font-size:2em;
    font-weight: bold;
  }
  .popular_cities_slider .swiper-slide {
    font-size:2em;
    height:400px;
  }

  .cards-title {
    font-size:2em;
    font-weight: bold;
  }


  .itineraries_cards .card {
    width:48%;
    height: auto;
    margin:15px 5px;
  }

  .card-container .card {
    width: 48%;
    margin: 15px 5px;
  }


  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
    padding:0 50px;
    margin: 0;
    /* background:url('/public/images/desert-transparent.jpg'); */
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
  }
  .footer div:nth-child(1){
    width:200px;
  }
  .footer .footer-element{
    color:rgb(20, 20, 20);
    margin:20px;
    width: auto;
  }

  .footer .under-footer {
    height:80px;
  }




  .section-title {
    font-size:2em;
    font-weight: bold;
  }
  .section-action .btn,.section-action .btn-secondary{
    width:300px;
    margin:0;
  }

  .modal .modal-container {
    padding:0 25%;
  }
}