@media screen and (min-width:640px){
    .topbar {
      justify-content: space-between;
      padding:5px 50px;
    }
    
    .navbar .logo_div{
      width: 200px;
      display: inline-block;
    }
    .home_slider {
      width:auto;
      height: 400px;
    }
    
    .home_slider .swiper-slide {
      font-size:2em;
      font-weight: bold;
    }
    .places_to_visit .title {
      font-size:2em;
      font-weight: bold;
    }
    .places_to_visit_slider .swiper-slide {
      font-size:2em;
      height:400px;
    }

    .cards-title {
      font-size:2em;
      font-weight: bold;
    }
    
    .itineraries_cards {
      justify-content:space-between;
      margin:0 10px;
    }
    .itineraries_cards div {
      width:49%;
      height:400px;
      margin:10px 0;
    }
  }