@media screen and (min-width:768px){
  .topbar {
    justify-content: space-between;
    padding:5px 50px;
  }
  .home_slider {
    width:auto;
    height: 500px;
  }
  

  .places_to_visit,.reviews,.blog,.ig_handle,.itineraries,.itinerary_categories{
    margin:0;
    padding:40px;
  }
  
  .itinerary_categories_cards .card {
    width:31.5%;
    margin:10px 5px;
  }
  .popular_cities{
    margin:100px 0 0 0;
    padding: 50px 50px;
  }

  .places_to_visit_slider .swiper-slide {
    height:280px;
  }
  .places_to_visit_slider .swiper-slide .content{
    font-size:1.5em;
  }

  
  
  
  
  .cards-title {
    font-size:2em;
    font-weight: bold;
    text-align: left;
    margin-left: 60px;
  }

  .itineraries_cards .card {
    width:48%;
    height: fit-content;
    margin:15px auto;
  }

  .blog .card-container .card {
    width:48%;
    height: fit-content;
    margin: 15px auto;
  }

  .query_form {
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: relative;
    margin: -350px 50px 0 50px;
    background-position:center;
  }

  .query_form form {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
  }
  .query_form form > div {
    margin:5px 1;
    width:30%;
  }
  .query_form form div select{
    padding:10px 5px;
    font-size: 16px;
    width:100%;
  }
  
  .query_form form div input[type=date]{
    padding:10px 5px;
    font-size: 16px;
    width:100%;
  }

  
  .query_form form div input[type=number]{
    padding:10px 5px;
    font-size: 16px;
    width:95%;
  }
  .query_form form div div {
    width:auto;
    position: relative;
  }
  .query_form form div input[type=text]{
    padding:10px 0 10px 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .query_form form div button[type=submit]{
    padding:10px;
    margin:20px 0 0 0;
    font-size: 16px;
    width:100%;
    border: none;
    align-self: self-start;
  }

  .about{
    padding:10px 50px;
    margin-top:200px;
  }



  
  .usp {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    margin:0;
    padding:10px 50px;
  }
  .usp .content {
    display: flex;
    align-items: center;
    margin:0 10px;
    padding:0;
    width: 30%;
  }


  
  .footer {
    padding:150px 50px 0 50px;
  }

  .footer .under-footer {
    height:120px;
  }









  .section-title {
    font-size:1.8em;
    font-weight: bold;
    text-align: left;
    margin-left:15px;
    width:100%;
    display: block;
  }

  .modal .modal-container {
    padding:0 30%;
  }

























  
  .tabs_container .tabs_title_container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
  }
}