@media screen and (min-width:768px){
  .topbar {
    justify-content: space-between;
    padding:5px 50px;
  }
  .home_slider {
    width:auto;
    height: 500px;
  }
  .home_slider .swiper-slide {
    font-size:2.4em;
    font-weight: bold;
  }

  .places_to_visit,.reviews,.blog,.ig_handle,.itineraries{
    margin:0;
    padding:50px;
  }
  .popular_cities{
    margin:100px 0;
    padding: 50px 50px;
  }

  .places_to_visit_slider .swiper-slide {
    height:280px;
  }
  .places_to_visit_slider .swiper-slide .content{
    font-size:1.5em;
  }
  
  
  
  
  
  .cards-title {
    font-size:2em;
    font-weight: bold;
    text-align: left;
    margin-left: 60px;
  }

  .itineraries_cards .card {
    width:48%;
    height: fit-content;
    margin:15px auto;
  }

  .card-container .card {
    width:48%;
    height: fit-content;
    margin: 15px auto;
  }

  .query_form {
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: relative;
    margin: -50px 50px 0 50px;
    background-position:center;
  }

  .query_form form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .query_form form {
    padding: 10px 5px;
  }
  
  .query_form form div input[type=date]{
    padding:10px 5px;
    font-size: 16px;
    width:120px;
    border: none;
  }

  .query_form form div select,
  .query_form form div input[type=number]{
    padding:10px 5px;
    font-size: 16px;
    width:150px;
    border: none;
  }
  
  .query_form form div input[type=submit]{
    padding:10px;
    margin:30px 0 0 0;
    font-size: 16px;
    width: 150px;
    border: none;
  }



  
  .usp {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    border-radius: 15px;
    margin:0 50px;
    padding:10px;
  }


  
  .footer {
    padding:150px 50px 0 50px;
  }

  .footer .under-footer {
    height:120px;
  }









  .section-title {
    font-size:1.8em;
    font-weight: bold;
    text-align: left;
    margin-left:20px;
    width: 100%;
  }
}