@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
}

.poppins-thin-italic {
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: italic;
}

.poppins-extralight-italic {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: italic;
}

.poppins-light-italic {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: italic;
}

.poppins-regular-italic {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: italic;
}

.poppins-medium-italic {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.poppins-semibold-italic {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: italic;
}

.poppins-bold-italic {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: italic;
}

.poppins-extrabold-italic {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: italic;
}

.poppins-black-italic {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: italic;
}


/* by default mobile view */
.topbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:5px 50px;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 14px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:5px 50px;
    background-color:rgb(127, 127, 127);
    color: white;
    font-size: 14px;
}
.navbar .logo_div{
    width: 200px;
}
.navbar .menu_div {
    display: none;
}
.navbar .menu_div div{
    align-self: center;
}
.navbar .menu_div a{
    align-self: center;
    font-size: 16px;
    padding: 10px 8px;
}
.navbar .menu_div > div > a:hover{
    background-color:rgb(6, 140, 242);
}
.submenu {
    display: none;
    position: relative;
    top:1px;
    padding:10px;
    background-color: rgb(6, 140, 242);
}
.submenu > li {
    padding:5px;
}

.navbar .menu_btn_div {
    display:flex;
}
.navbar .menu_btn_div .menu_btn{
    display: inline;
    align-self: center;
    background-color:rgb(182, 137, 60);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.navbar .menu_btn_div .plan_btn{
    align-self: center;
    background-color:rgb(199, 157, 86);
    padding: 10px;
    border-radius: 10px;
    font-weight:600;
}



.navbar_mobile {
    display: none;
    position: absolute;top:0;right:0;background-color: antiquewhite;width:30%;
}

.navbar_mobile .menu_div {
    @apply flex flex-wrap flex-col;
}
.navbar_mobile .menu_div div{
    @apply self-center;
}
.navbar_mobile .menu_div a{
    @apply self-center;
    font-size: 16px;
    padding:5px 8px;
}
.navbar_mobile .menu_div a:hover{
    background-color:rgb(6, 140, 242);
}

.navbar_mobile .menu_btn_div {
    @apply flex;
}
.navbar_mobile .menu_btn_div .plan_btn{
    @apply self-center;
    background-color:rgb(199, 157, 86);
    padding: 10px;
    border-radius: 10px;
    font-weight:600;
}






























@media screen and (min-width:1024px){
    .navbar .menu_div {
        display: flex;
    }
    .navbar .menu_btn_div .menu_btn{
        display: none;
    }
}